#TrackInputGroup {
    text-align: center;
}

.recommend-button-container {
    text-align: center;
    margin: 2rem 0;
}

#FetchTracks {
    padding: 20px 38px;
    border-radius: 10px;
    border-style: none;
    background-color: #EDE4DD;
    font-size: 20px;
    font-family: Serif, fantasy;
    transition: all 0.6s ease-in-out;
}

#FetchTracks:hover {
    padding: 21px 40px;
    font-size: 23px;
    cursor: pointer;
    background-color: #ECDBD8;
}

input {
    font-size: max(16px, 1em);
    padding: 0.25em 0.5em;
    background-color: #fff;
    border: 2px solid var(--input-border);
    border-radius: 4px;
    margin: 5px 0;
}

input:not(textarea) {
    line-height: 1;
    height: 2.25rem;
}

#RecommendationSection {
    margin-top: 100px;
}

.recommended-song {
    text-align: center;
}

.recommended-song-content {
    transition: box-shadow 1s;
    width: var(--image-width);
}

.recommended-song-content:hover {
    box-shadow: 0 0 10px black;
    border: none;
}

.track-img {
    width: var(--image-width);
    height: var(--image-width);
}

.track-name {
}
