

header h1 {
    text-align: center;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

#RecommendationSection {
    margin: 150px 0;
}

.recommended-song {
    text-align: center;
}

a {
    text-decoration: none;
}

.col-3 {
    display: inline-block;
    width: 33%;
}