#RecommendationSection {
    margin: 150px 0;
}

.recommended-song {
    text-align: center;
}

.col-3 {
    display: inline-block;
    width: 33%;
}

#TrackInputGroup {
    text-align: center;
}

.recommend-button-container {
    text-align: center;
    margin: 2rem 0;
}

#FetchTracks {
    padding: 20px 38px;
    border-radius: 10px;
    border-style: none;
    background-color: #EDE4DD;
    font-size: 20px;
    font-family: Serif, fantasy;
    transition: all 0.6s ease-in-out;
}

#FetchTracks:hover {
    padding: 21px 40px;
    font-size: 23px;
    cursor: pointer;
    background-color: #ECDBD8;
}

input {
    font-size: max(16px, 1em);
    padding: 0.25em 0.5em;
    background-color: #fff;
    border: 2px solid var(--input-border);
    border-radius: 4px;
    margin: 5px 0;
}

